.main {
    position: relative;

    height: 100vh;
    
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,45%)), url('../../../images/home/food-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main h1 {
    font-size: 54px;
    font-weight: 600;
}

.main p {
    font-size: 29px;
    font-weight: 400;
}