.main-featured .main-section-wrapper {
    overflow: hidden;
}

.featured-recipes-wrapper {
    display: flex;
    align-items: start;

    gap: 20px;

    border-bottom: 1px solid rgba(0, 0, 0, 20%);
    
    padding-bottom: 40px;
    margin-bottom: 60px;

    animation-duration: 1.5s;
}

.featured-recipes-wrapper:last-child {
    margin: 0;
}

.featured-recipes-wrapper .image-wrapper {
    position: relative;
    width: 300px;
    height: 185px;

    cursor: pointer;
    user-select: none;
}

.featured-recipes-wrapper .image-recipes {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 10px;

    cursor: pointer;
    position: absolute;
}

.featured-icon {
    position: absolute;
    left: 10px;
    top: 0;
}


.featured-recipes-wrapper h3 {
    font-size: 22px;
    font-weight: 400;

    margin-bottom: 20px;
}

.featured-recipes-wrapper p {
    font-size: 16px;
    font-weight: 400;

    line-height: 28px;
}

.featured-recipes-wrapper .start-wrapper {
    margin-top: 5px;

    display: flex;
    gap: 5px;

    color: #fcaf43;
    user-select: none;
}

.featured-recipes-wrapper .start-wrapper span {
    color: #a8a9ab;
}
