:root {
    --color-blue: #44b4ff;
    --color-black: #161C21;
    --transition-cubic: transform 110ms cubic-bezier(.45,.97,.68,2.48);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 12vh;
}

#container {
    color: var(--color-black);
}

::selection {
    background-color: #46b5ff;
    color: #fff;
}

.main-section-wrapper {
    max-width: 1440px;
    margin: 0 auto;

    padding: 0 30px;
    padding-bottom: 60px;
}

ul, ol {
    list-style-type: none;
}