:root {
    --color-blue: #57bbfd;
    --color-black: #161C21;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#container {
    color: var(--color-black);
}

::selection {
    background-color: #46b5ff;
    color: #fff;
}