.main-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-blue);
    padding: 10px 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 30%);
    margin-bottom: 100px;
}

.main-title h2 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.main-title img {
    width: 90px;
    user-select: none;
}